<!DOCTYPE html>
<html lang="en">

<head>

    @await Html.PartialAsync("~/Views/_Shared/_title_meta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/_Shared/_head_css.cshtml")
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    
    
    <!-- Syncfusion Essential JS 2 Styles -->
    <!--<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" />-->


    <!-- Syncfusion Essential JS 2 Scripts -->
    <!--<script src="https://cdn.syncfusion.com/ej2/ej2-base/dist/global/ej2-base.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/ej2-buttons/dist/global/ej2-buttons.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/ej2-popups/dist/global/ej2-popups.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/ej2-lists/dist/global/ej2-lists.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/ej2-calendars/dist/global/ej2-calendars.min.js"></script>-->

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        @await Html.PartialAsync("~/Views/_Shared/_topbar.cshtml")
        @await Html.PartialAsync("~/Views/_Shared/_sidebar.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    @await Html.PartialAsync("~/Views/_Shared/_page_title.cshtml")
                    <h1>Fenerbahçe</h1>
                    @RenderBody()

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            @await Html.PartialAsync("~/Views/_Shared/_footer.cshtml")

        </div>
        <!-- end main content-->

    </div>

    @RenderSection("externalhtml", required: false)

    <!-- END layout-wrapper -->

    @await Html.PartialAsync("~/Views/_Shared/_right_sidebar.cshtml")

    @*@await Html.PartialAsync("~/Views/_Shared/_vendor_scripts.cshtml")*@

    @RenderSection("Scripts", required: false)
    
    @RenderSection("SyncFusionEJ2",required:false);

</body>

</html>