

@model bidersGo.Application.Features.Queries.UserGetById.UserGetByIdQueryRequest
<div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                    <div class="w-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div>
                                    <div class="text-center">
                                        <div>
                                            <a href=@Url.Action("Index", "Dashboard") class="">
                                                <img src="~/assets/images/logo-dark.png" alt="" height="20" class="auth-logo logo-dark mx-auto">
                                                <img src="~/assets/images/logo-light.png" alt="" height="20" class="auth-logo logo-light mx-auto">
                                            </a>
                                        </div>

                                        <h4 class="font-size-18 mt-4">Register account</h4>
                                        <p class="text-muted">Get your free Nazox account now.</p>
                                    </div>

                                    <div class="p-2 mt-5">
                                        <form method="post" asp-controller="Role" asp-action="RoleAssign">

                                            <div class="auth-form-group-custom mb-4">
                                                <i class="ri-mail-line auti-custom-input-icon"></i>
                                                <label >Kullanıcı Seçimi</label>
                                                </div>

                                                <div>
                                                    <select id="selectUserList" value="" >
                                                        <option>Lütfen Kullanıcı Seçiniz</option>
                                                        @foreach (var item in ViewBag.Users)
                                                    {
                                                        <option value="@item.Id">@item.UserName- @item.Email  </option>
                                                    }
                                                </select>
                                                
                                            <input type="hidden" id="selectUser" name="Id" value="" />
                                                </div>
                                                <br>
                                                <br>

                                                <div class="auth-form-group-custom mb-4">
                                                <i class="ri-mail-line auti-custom-input-icon"></i>
                                                <label >Role Seçimi</label>
                                                </div>

                                                 <div>
                                                    <select id="selectRoleList" >
                                                        <option>Lütfen Role Seçiniz</option>
                                                        @foreach (var item in ViewBag.Roles)
                                                    {
                                                        <option value="@item.Name"> @item.Name </option>
                                                    }
                                                </select>
                                                <input type="hidden" id="selectRole" name="Name" value="" />


                                                </div> <div class="text-center">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <p class="mb-0">By registering you agree to the Nazox <a href="#" class="text-primary">Terms of Use</a></p>
                                            </div>

                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="authentication-bg position-relative">
                    <div class="bg-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*view üzerindeki model yapısı formu post etmek istediğimiz action parametresinden farklı olduğu için formu name parametlereleri ile bind ettik*@

@section Scripts{

    <script>
        var userIdString = null;
        var selectUser = $("#selectUser");
        var selectUserList = $("#selectUserList");
        var selectRoleList = $("#selectRoleList");
        var selectRole = $("#selectRole");

        selectUserList.on("change", function(){
            console.log(selectUserList.val());
            userIdString = selectUserList.val();
            $("#selectUser").attr("value",userIdString);
            console.log($("#selectUser").val());
        })
        selectRoleList.on("change",function(){
            selectRole.attr("value",selectRoleList.val());
            console.log(selectRole.val());
        })




    </script>
}

